/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

@media (min-width: 768px) {
    .character-grid {
        grid-template-columns: minmax(0, 1fr) 332px;
    }
}

html.dark input {
    color-scheme: dark;
}

.bg-background {
    background-color: hsl(var(--background));
}

.text-foreground {
    color: hsl(var(--foreground));
}

.border-border {
    border-color: hsl(var(--border));
}

.w-250 {
    width: 250px;
}

.w-200 {
    width: 200px;
}

.w-168 {
    width: 168px;
}

.size-1 {
    height: 1.2rem;
    width: 1.2rem;
}

.character-card {
    width: 100%;
    height: 300px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.character-card-chub {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.character-card-large {
    width: 512px;
    max-width: 512px;
    height: 768px;
    max-height: 768px;
    object-fit: cover;
}
