::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--border));
    border-radius: 9999px;
}

.character-grid {
    grid-template-columns: minmax(0, 1fr) 332px;
}

.control-grid {
    grid-template-columns: 290px minmax(0, 1fr) 290px;
    grid-template-rows: 36px minmax(0, 1fr);
}

@media (min-width: 1536px) {
    .character-grid {
        grid-template-columns: minmax(0, 1fr) 332px;
    }

    .control-grid {
        grid-template-rows: 1fr;
    }
}

html.dark input {
    color-scheme: dark;
}

.bg-background {
    background-color: hsl(var(--background));
}

.text-foreground {
    color: hsl(var(--foreground));
}

.border-border {
    border-color: hsl(var(--border));
}

.w-290 {
    width: 290px;
}

.w-250 {
    width: 250px;
}

.w-200 {
    width: 200px;
}

.w-168 {
    width: 168px;
}

.size-1 {
    height: 1.2rem;
    width: 1.2rem;
}

.py-1px {
    padding: 1px 0;
}

.average-rating {
    justify-content: center;
}

.average-rating::before {
    position: relative !important;
}

.tab-content-character {
    height: calc(100% - 44px);
}

.character-card {
    width: 100%;
    height: 300px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.character-card-chub {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.character-card-large {
    width: 512px;
    max-width: 512px;
    height: 768px;
    max-height: 768px;
    object-fit: cover;
}

.dropzone::before {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 512px;
    max-width: 512px;
    height: 768px;
    max-height: 768px;
    content: 'Drop image here to change...';
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    border-radius: 1rem;
}

.dropzone:hover::before {
    opacity: 1;
    background-color: hsl(var(--background) / 0.4);
    backdrop-filter: blur(10px);
}
